.main {
  height: 250px;
  width: auto;
  border: 1px solid #dddddd;
}

.userTable {
  border-collapse: collapse;
  width: 100%;
}

.userTable th {
  background-color: #dddddd;
}

.userTable td,
th {
  text-align: left;
  padding: 8px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.modal{
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 1px solid black;
  position: fixed;
  left: 0;
  top: 0;
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0,0,0,0.4);
}
.modal-content{
  width: 40%;
  height: auto;
  margin: 10% auto;
  background-color: white;
  padding: 20px;
}
.close{
  float: right;
  cursor: pointer;
}