.content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 80%;
    height: auto;
    margin: 15% auto;
    /* background-color: white; */
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  
.btn-pn {
}
.paginator ul li {
  /* padding: 5px; */
  border: 1px solid black;
  cursor: pointer;
}
.paginator ul {
  list-style: none;
  display: flex;
}

/* .paginator{
  display: flex;
} */