.content {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;
    height: auto;
    margin: 15% auto;
    /* background-color: white; */
    padding: 20px;
    display: flex;
    justify-content: center;
  }